/* Gird 12 column - RWD -- tablet
========================================================================== */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,

.col-1-no,
.col-3-no,
.col-5-no,
.col-6-no,
.col-9-no,

.col-3-margin,
.col-9-margin,

.col-4-no-last,
.col-6-no-last,
.col-7-no-last,
.col-8-no-last {
    @include span(12 no-gutters);
    margin-left:0;
    margin-right:0;
    clear: both;
}  
