/* Theme style
========================================================================== */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS - hentry for tablet:
----------------------------------------------------------------
1.0 Base
2.0 Layout
4.2 Section
5.3 Header slider
6.4 Other elements
7.0 Header
4.0 Footer
5.0 hentry
    5.1 plural
    5.5 singular
    5.3 hentry elements
--------------------------------------------------------------*/


*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    overflow-x: auto
}
body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
}
body {
    overflow: hidden;
    font-family: $font-base;
    @include font-size($size-base);
    line-height: 1.5;
    background: $four-bw;
    color: $one-bw;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

main {
    display: block;
}

/* 2.0 Layout
======================= */
.radius {
    border-radius: 5px;
}
.white-a {
    color: $white;
    a, a:hover {
        color: $white;
    }
}

.text-color-two {
  color: $four-bw;
  a {
    color: $four-bw;
  }
  a:hover {
    color: $one-color
  }
}
.dark-element-color {
  color: $one-color;
  a {
    color: $one-color;
  }
  a:hover {
    color: $four-bw;
  }
}

.gray-content {
  color:$five-bw;
  a {
    color:$five-bw;
  }
}





.btn {
    color: $four-bw;
    background-color: $two-color;
    border: 1px solid $two-color;
    padding: 5px;
    min-width: 200px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    &:hover {
      color: $four-bw;
      background-color: $one-color;
    }
}

// tabs
.js-tablist {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  text-align: center;
}
.tabs__item {
  display: inline-block;
}
.tabs__link {
  cursor: pointer;
  span {
      margin-left: 5%;
  }
}
.js-tabcontent[aria-hidden=true]{
    display: none;
}





/* 3.0 Header
======================= */

// Top bar Header
.header-top {
    .contact-item, i {
        display: inline-block;
        padding: 0 10px;
    }
    padding: 20px gutter();
    border-bottom: 1px solid $light-border;
    @include font-size($size-medium,0,false);
}
#h-adress {
    margin-left: -20px;
}


// Bottom bar Header
#site-header {
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid $light-border;
    padding: 10px gutter();
}
.title-area {
    max-width: 275px;
    flex: 1 1 auto;
}
.site-title {
    margin: 0;
}

/* 4.0 Section
======================= */
.page-section {

}
.header-section {
  h2 {
    margin: 0;
  }
}

/* Home page - header section with post */
#posts-header {
    position: relative;
}
// First post
.f-post {
    background-color: $one-color;
    .entry-header {
        flex: 0 1 auto;
    }
    .entry-summary {
        flex: 0 1 auto;
    }
}
.f-post-thumbnail {
    flex: 1 1 auto;
    background-size: cover;
    background-position: center;
    height: 320px;
}
.f-post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Block w other post - small
.header-offslider {
    width: 100%;
    max-width: 768px;
    margin: auto;
    overflow: hidden;

    article {
        float: left;
        width: 100%;
        background: $two-color;
        margin-bottom: 10px;
    }

    h2 {
        @include font-size($size-base,0,false);
    }
}
.s-post-thumbnail {
    height: 220px;
    background-position: center;
    background-size: cover;
}
.s-post-content {
    position: relative;
    height: 110px;
    overflow: hidden;

}
.arrow-more-icon {
    display: block;
    position: absolute;
    bottom: 0;
    left: 20px;
    border: none;
    overflow:hidden;
    height: 44px;
    width: 44px;
    padding: 0;
    @include font-size(4.2,0.1,true);
}
.arrow-allpost-icon {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 10px;
    background-color: $two-color;
    border: 5px solid $one-color;

    > i {
        clear: both;
        display: block;
        text-align: right;
    }
}

// Continer for menu
#header-nav-bottom {
    background-color: $four-bw;
    box-shadow: 0px 3px 10px 0px rgba($one-color, 0.3);
}

/* Home page - section with clubs */
.clubs {
    background-color: $two-color;
}

.club-item {

    padding: gutters();

    img {
        width: 50%;
    }
    &:first-child {
        background-color: $four-color;
    }
    &:nth-child(2) {
        background-color: lighten($two-color, 5);
    }
    &:nth-child(3) {
        background-color: $three-color;
    }
    &:nth-child(4) {
        background-color: lighten($four-color, 5);
    }
}

.clubs-bottom::after {
    content: '';
    display: block;
    width: 100%;
    height: 70px;
    background-color: $four-bw;
    margin-top: -70px;
}




/* Home page - section with New item */
.newitems {
  .tabs__item {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
    min-width: 50px;
    border-bottom: 1px solid $light-border;
  }
  .tabs-home__contents {
    img {
      box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
    }
  }
}

.coletion-image,
.coletion-content {
  padding: 2.08333% 2.08333% 0 2.08333%;
  background-color: $two-color;

  img {
    width: auto;
    max-height: 370px;
    margin: auto;
  }
}
.coletion-gallery {
  background-color: $one-color;
  text-align: center;

  .btn {
    margin: 40px;
  }
}
#coletions-link {
  clear: both;
  padding: 40px;
  text-align: center;
}



/* section catl */
#catl {
  background-color: $one-color;

  .tabs__item {
    margin: 0;
    padding-bottom: 10px;

    a {
      margin-right: 10px;
      padding: 10px 25px;
    }
    a[aria-selected=true] {
      color: $three-color;
      border-bottom: 2px solid $three-color;
    }
  }

  .btn {
    color: $three-color;
    background-color: $one-color;
    border-color: $three-color;

    &:hover {
      color: $one-color;
      background-color: $three-color;

    }
  }


}
.catl-links {
  text-align: center;
  padding: 40px;
}

.catl-svg {
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 100%;
    flex: 0 0 auto; // fix for ie11
  }
}
.catl-svg,
.catl-content {
  width: 100%;
  float: left;
  min-height: 300px;
}



#contact {
  position: relative;
  background-color: $one-color;
  .header-section {
    position: relative;

    > div {
      z-index: 5;
      position: relative;
    }
    h2 {
      display: inline-block;
      padding: 35px 2%;
      background-color: $two-color;
    }
  }
  h3,h4 {

    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  h3 {
    @include font-size($size-medium);
    margin: 0;
    line-height: 1;
  }
  h4{
    @include font-size($size-base);
  }

  .tabs__item {
    margin: 0;
    a {
      display: block;
      padding: 10px 4px;
      margin-bottom: -1px;
    }
    a[aria-selected=true] {
      color: $one-color;
      border-bottom: 1px solid $one-color;
    }
  }
}
#contact__content {
  background-color: $two-color;

  .contact-item {
      margin-bottom: 20px;
  }
}
.contact-item__icon {
  display: flex;
  flex-direction: row;
  align-items: start;
  i {
    display: inline-block;
    width: 45px;
    @include font-size($size-xl-large);
    text-align: center;
  }
  span {
    display: inline-block;
    padding-left: 25px;
  }
}
.contact-item__text {
  padding-left: 70px;
  margin-top: -20px;
  .day {
      width: 110px;
  }
}
#contact__tabs,
#contact__map {
  width: 100%;
  float: left;
}

#contact-social {
  border-top: 1px solid $one-color;
  a {
  margin: auto 5px;
  }
}



/* featured category */
#featured-cat {
  h2 {
      display: inline-block;
      padding: 20px 10%;
      background-color: $three-color;
      color: $four-bw;
  }
  h3 {
    @include font-size($size-base);
  }
  .h-wrapper {
        border-bottom: 5px solid $three-color;
  }
  .hentry {
    position: relative;
    padding: 7% 10%;
    border-bottom: 5px solid $three-color;

    &:after {
      content: '';
      display: block;
      width: 5px;
      height: 50%;
      background-color: $three-color;
      position: absolute;
      bottom: -5px;
      right: 0;
    }
  }
  a {
    color:$three-color;
  }
}



/* content */
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $one-color;
}
#breadcrumbs {
  border-bottom: 1px solid $border-color;
  span {
    padding-right: 5px;
  }
}



/* hentry-multi */

.hentry-multi {
  .hentry {
    margin-bottom: 40px;
    background-color: $white;
    border-bottom: 5px solid $five-bw;
  }
  .post-thumbnail{

  }
  .entry-meta,
  .entry-summary {

  }
}
