body {
     @include font-size($size-medium,0,false);
}

h1,.class-h1,.f-size-h1     { @include font-size(($size-base + 1.3),0,true);}
h2,.class-h2,.f-size-h2     { @include font-size(($size-base + 1.0),0,true);}
h3,.class-h3,.f-size-h3     { @include font-size(($size-base + 0.5),0,true);}
h4,.class-h4,.f-size-h4     { @include font-size(($size-base + 0.1),0,true);}
h5, h6,.class-h5,.f-size-h5           { @include font-size(($size-base),0,true);}

.tabs__item {
  @include font-size(($size-base + 0.4),0,false);
}



#top-bar__social, #top-bar__btn-search {
    margin-top: 6px;
}

.header-offslider {
  max-width: 670px;
}
.header-offslider article {
    width: 200px;
    height: 400px;
}
.s-post-thumbnail,
.s-post-content {
    width: 200px;
    height: 200px;
}

#featured-cat.col-5,
#wpg-evets.col-7  {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  float:none;
  clear: both;
}
